<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My COlor Maker With Sliders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D86B466C1BE609A400288726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D86B46801BE609A400288726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D86B468B1BE609A400288726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
